<h1><%= @doj.branch %></h1>
<h4> Address: <%= @doj.street%></h4>
<h4> City: <%= @doj.city%> </h4>
<h4> State: <%= @doj.state%> </h4>
<a href='/'>Home</a> | <a href='/dojos/<%= @doj.id %>/edit'> Edit </a>